<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--* The three meta tags above **must** come first in the head;
      * any other head content must come after these tags. *-->
  <title>{{ page.title }}</title>
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}
  <meta name="author" content="{{ site.author.name }}">
  <!-- Bootstrap styles -->
  {% include base.html %}
  <link href="{{ base }}/assets/css/main.css" rel="stylesheet">
  <!--* HTML5 shim and Respond.js for IE8 support of HTML5 elements
      * and media queries *-->
  <!-- WARNING: Respond.js doesn't work if page is viewed with file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
    </script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
    </script>
  <![endif]-->
</head>
