/*
 * Sticky footer styles
 */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: main-palette('tcs-background-highlight', 'light-mode');
}
.container .text-muted {
    margin: 20px 0;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-static-top {
    margin-bottom: 19px;
}

/*
 * Navbar styling
 */
#tcs-navbar,
#tcs-navbar ul.dropdown-menu,
#tcs-navbar a.dropdown-toggle,
#tcs-navbar a.dropdown-toggle.open {
    background-color: main-palette('tcs-background-highlight', 'light-mode');
}
#tcs-navbar-brand {
    font-size: 1.5em;
}
#tcs-navbar ul.dropdown-menu {
    background-color: main-palette('tcs-background-highlight', 'light-mode');
}
