/*
 * Sticky footer styles
 */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.push {
    height: 60px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    // background-color: main-palette('tcs-background-highlight', 'light-mode');
}
.container .text-muted {
    margin: 20px 0;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-static-top {
    margin-bottom: 19px;
}
i.fa {
  font-size: 1.5em;
}
ul.post-list li span.post-meta + h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

ul.post-list p.post-excerpt {
  margin-bottom: 30px;
}
