---
layout: default
---
<div class="row post-full">

  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

    <div class="page-header">
      <h1 class="tcs-accent tcs-accent-magenta">{{ page.title }}
        {% if page.tagline %}
          <small>{{ page.tagline }}</small>
        {% endif %}
      </h1>
    </div><!-- /.page-header -->

    <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div><!-- /.date -->

    <div class="content">
      {{ content }}
    </div><!-- /.content -->

  </div><!-- /.col-xs-12 .col-sm-10 .col-sm-offset-1 .col-lg-8
      .col-lg-offset-2 -->

</div><!-- /.row .post-full -->
